body {
    background: #e2c8a7;
}

#tec1 {
    width: 30%;
    height: 50%;
}

#tec2 {
    width: 30%;
    height: 50%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

#missão {
    font-size: 20px;
}

em strong {
    color: #000000;
}

.itens {
    font-style: italic;
}
